<div *ngIf="loading">
  <div class="ui active inverted dimmer">
    <div class="ui large text loader">Loading</div>
  </div>
</div>
<div *ngIf="!loading">
  {{ user.name }}
  {{ challenge.name }}

  <mat-table [dataSource]="activities" class="margin-top">
    <ng-container matColumnDef="Points">
      <mat-header-cell *matHeaderCellDef>Points</mat-header-cell>
      <mat-cell *matCellDef="let activity">{{
        activity.value | displayMeasureValue: challenge.measure
      }}</mat-cell>
    </ng-container>
    <ng-container matColumnDef="Date">
      <mat-header-cell *matHeaderCellDef>Date</mat-header-cell>
      <mat-cell *matCellDef="let activity">{{
        activity.date | date: "yyyy-MM-dd HH:mm"
      }}</mat-cell>
    </ng-container>
    <ng-container matColumnDef="loadingRow">
      <mat-footer-cell *matFooterCellDef colspan="displayColumns.length()">
        Loading data...
      </mat-footer-cell>
    </ng-container>
    <ng-container matColumnDef="noData">
      <mat-footer-cell *matFooterCellDef colspan="displayColumns.length()">
        User {{ user.name }} has no activities in this challenge yet...
      </mat-footer-cell>
    </ng-container>
    <mat-header-row *matHeaderRowDef="displayColumns"></mat-header-row>
    <mat-row *matRowDef="let summary; columns: displayColumns"></mat-row>
    <mat-footer-row
      *matFooterRowDef="['loadingRow']"
      [ngClass]="{ hide: !loading }"
    ></mat-footer-row>
    <mat-footer-row
      *matFooterRowDef="['noData']"
      [ngClass]="{
        hide: !(activities != null && activities.data.length == 0)
      }"
    ></mat-footer-row>
  </mat-table>
  <mat-paginator
    [pageSize]="pageSize"
    [length]="total"
    (page)="handlePageChange($event)"
  ></mat-paginator>
</div>

<a [routerLink]="['/home/challenge/' + challengeId]" class="bottom-link">
  <i class="angle left icon"></i>
  Back to challenge
</a>
