<!-- Menu Bar -->
<div class="ui menu">
  <div class="ui container">
    <div class="header item borderless left">
      <h1 class="ui header">
        Challenge
      </h1>
    </div>
    <div class="item right">
      <button *ngIf="!isLoggedIn" class="ui blue button" (click)="login()"><i class="sign in large icon"></i>Sign in</button>
      <button *ngIf="isLoggedIn" class="ui blue button" (click)="logout()"><i class="sign out large icon"></i>Sign out</button>
    </div>
  </div>
</div>

<div class="ui main container segment">
  <router-outlet></router-outlet>
</div>