<div class="ui active laoder" *ngIf="loading == true"></div>

<div *ngIf="loading == false">
  <p>{{ challenge.name }}</p>
  <div *ngIf="user">
    <challenge-user
      (joinedChallenge)="pushNewSummary($event)"
      (loggedActivity)="updateRanking($event)"
      [user]="user"
      [challengeId]="challengeId"
    ></challenge-user>
  </div>
  <div *ngIf="summaries.length == 0">No users participate in the challenge</div>

  <div *ngIf="summaries.length > 0" class="margin-top">
    <table class="ui stripped table margin-top">
      <thead>
        <tr>
          <th>User</th>
          <th>Position</th>
          <th>Points</th>
          <th>Last active</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let summary of summaries">
          <td>{{ summary.user.name }}</td>
          <td>{{ summary.position }}</td>
          <td>{{ summary.summaryValue }}</td>
          <td>{{ summary.lastActive | date: "yyyy-MM-dd hh:mm" }}</td>
        </tr>
      </tbody>
    </table>
  </div>
  <a [routerLink]="['/home']" class="bottom-link">
    <i class="angle left icon"></i>
    Back to home
  </a>
</div>
