<div *ngIf="!loading">
  <form
    *ngIf="participatesInChallenge"
    [formGroup]="logActivityForm"
    (ngSubmit)="logActivity()"
    class="ui large form"
    [class.error]="!logActivityForm.valid && logActivityForm.touched"
  >
    <h3 class="ui header">Log activity</h3>
    <div class="field">
      <label for="value">Number of {{ challenge.measure.unitName }}:</label>
      <div class="ui input">
        <input
          *ngIf="!challenge.measure.allowDecimal"
          name="integerValue"
          id="integerValue"
          placeholder="0"
          [formControl]="integerValue"
          type="number"
        />
        <input
          *ngIf="challenge.measure.allowDecimal"
          name="decimalValue"
          id="decimalValue"
          placeholder="0.00"
          step="0.01"
          [formControl]="decimalValue"
          type="number"
        />
        <button
          class="ui blue button"
          type="submit"
          [ngClass]="{ loading: joiningChallenge }"
          [disabled]="!logActivityForm.valid"
        >
          Log activity
        </button>
      </div>
      <p
        *ngIf="
          (!integerValue.valid && integerValue.touched) ||
          (!decimalValue.valid && integerValue.touched)
        "
        class="negative message"
      >
        Provided value is invalid
      </p>
    </div>
  </form>

  <button
    *ngIf="!participatesInChallenge && challenge.userHasAccess"
    type="submit"
    [ngClass]="{ loading: joiningChallenge }"
    class="ui blue button"
    (click)="join()"
  >
    Join challenge
  </button>

  <div class="ui warning message" *ngIf="!challenge.userHasAccess">
    <p>This challenge is private - only users with Invitation can join</p>
  </div>

  <div *ngIf="errorMessage">
    <p class="error-span message">
      Something went wrong while joining challenge. Error message:
    </p>
    <p class="error-span message">{{ errorMessage }}</p>
  </div>
</div>
