<h2 mat-dialog-title>Your invitations</h2>

<mat-dialog-content>
  <mat-table [dataSource]="invitations">
    <ng-container matColumnDef="Invitation">
      <mat-header-cell *matHeaderCellDef>Invitation</mat-header-cell>
      <mat-cell *matCellDef="let invitation"
        >{{ invitation.fromUser.name }} invites you to participate in challenge:
        {{ invitation.toChallenge.name }}</mat-cell
      >
    </ng-container>
    <ng-container matColumnDef="Date">
      <mat-header-cell *matHeaderCellDef>Date</mat-header-cell>
      <mat-cell *matCellDef="let invitation">
        {{ invitation.sendTime | date: "yyyy-MM-dd HH:mm" }}
      </mat-cell>
    </ng-container>
    <ng-container matColumnDef="loadingRow">
      <mat-footer-cell *matFooterCellDef colspan="displayColumns.length()">
        Loading data...
      </mat-footer-cell>
    </ng-container>
    <ng-container matColumnDef="noData">
      <mat-footer-cell *matFooterCellDef colspan="displayColumns.length()">
        You have no invitations...
      </mat-footer-cell>
    </ng-container>
    <mat-header-row *matHeaderRowDef="displayColumns"></mat-header-row>
    <mat-row
      *matRowDef="let invitation; columns: displayColumns"
      (click)="markAsReadAndNavigate(invitation.id, invitation.toChallenge.id)"
    ></mat-row>
    <mat-footer-row
      *matFooterRowDef="['loadingRow']"
      [ngClass]="{ hide: !loading }"
    ></mat-footer-row>
    <mat-footer-row
      *matFooterRowDef="['noData']"
      [ngClass]="{ hide: !(users != null && users.data.length == 0) }"
    ></mat-footer-row>
  </mat-table>
  <mat-paginator
    [pageSize]="pageSize"
    [length]="total"
    (page)="handlePageChange($event)"
  ></mat-paginator>
</mat-dialog-content>

<mat-dialog-actions>
  <button class="ui button" (click)="close()">Close</button>
</mat-dialog-actions>
