<div class="ui text container">
  <form
    [formGroup]="form"
    (ngSubmit)="onSubmit(form.value)"
    class="ui large form"
    [class.error]="!form.valid && form.touched"
  >
    <h2 class="ui header margin-top">Create a challenge</h2>
    <div class="field">
      <label for="name">Name:</label>
      <input name="name" id="name" placeholder="Name" [formControl]="name" />
      <p *ngIf="!name.valid && name.touched" class="error-span message">
        Name is invalid
      </p>
    </div>

    <div class="field">
      <label for="description">Description:</label>
      <textarea
        name="description"
        id="description"
        placeholder="Enter description..."
        [formControl]="description"
      ></textarea>
      <p
        *ngIf="!description.valid && description.touched"
        class="error-span message"
      >
        Description is invalid
      </p>
    </div>

    <div class="field">
      <label for="unitName">Unit of measurement name:</label>
      <input
        name="unitName"
        id="unitName"
        placeholder="Unit of measurement name"
        [formControl]="unitName"
      />
      <p *ngIf="!unitName.valid && unitName.touched" class="error-span message">
        Name is invalid
      </p>
    </div>

    <div class="field">
      <label for="allowDecimal">Allow decimal values:</label>
      <input
        type="checkbox"
        name="allowDecimal"
        id="allowDecimal"
        placeholder="allowDecimal"
        [formControl]="allowDecimal"
      />
    </div>

    <div class="field">
      <label for="valueOrder">Value order:</label>
      <select class="ui dropdown menu" [formControl]="valueOrder">
        <option
          *ngFor="let symbol of keys(valueOrderSymbols)"
          [ngValue]="valueOrderSymbols[symbol]"
          class="item"
        >
          {{ symbol }}
        </option>
      </select>
    </div>

    <div class="field">
      <label for="valueSummarization">Value summarization:</label>
      <select class="ui dropdown menu" [formControl]="valueSummarization">
        <option
          *ngFor="let symbol of keys(valueSummarizationSymbols)"
          [ngValue]="valueSummarizationSymbols[symbol]"
          class="item"
        >
          {{ symbol }}
        </option>
      </select>
    </div>

    <div class="field">
      <label for="finishesOn">Finishes on:</label>

      <div class="ui labeled input">
        <div class="ui label no-padding">
          <mat-datepicker-toggle
            matSuffix
            [for]="picker"
          ></mat-datepicker-toggle>

          <ngx-mat-datetime-picker #picker></ngx-mat-datetime-picker>
        </div>
        <input
          matInput
          name="finishesOn"
          id="finishesOn"
          [ngxMatDatetimePicker]="picker"
          [formControl]="finishesOn"
        />
      </div>
    </div>

    <button
      type="submit"
      [ngClass]="{ loading: loading }"
      class="ui blue button"
      [disabled]="!form.valid"
    >
      Create
    </button>
    <div *ngIf="errorMessage">
      <p class="error-span message">
        Something went wrong while creating account. Error message:
      </p>
      <p class="error-span message">{{ errorMessage }}</p>
    </div>
    <br /><br />
  </form>
</div>
<a [routerLink]="['/home']">
  <i class="angle left icon"></i>
  Back to home
</a>
