<div class="ui search" style="min-width: 60%">
  <div class="ui icon input">
    <input type="text" placeholder="Challenge name ..." />
    <i class="search icon"></i>
  </div>
  <div class="results"></div>
</div>
<table class="ui compact celled definition table margin-top">
  <thead>
    <tr>
      <th>Name</th>
      <th>Finishes on</th>
      <th>Created by</th>
    </tr>
  </thead>
  <tbody>
    <tr
      *ngFor="let challenge of challenges"
      (click)="goToChallenge(challenge.id)"
    >
      <td>{{ challenge.name }}</td>
      <td>{{ challenge.finishesOn }}</td>
      <td>{{ challenge.createdBy }}</td>
    </tr>
  </tbody>
</table>
