<div class="padding">
  <h1 class="ui center aligned header">All challenges</h1>
</div>

<div class="ui search" style="min-width: 60%">
  <div class="ui icon input">
    <search-box
      [offset]="offset"
      [pageSize]="pageSize"
      (loading)="this.loading = $event"
      (results)="loadChallenges($event)"
      (removedSearch)="reset()"
    ></search-box>
    <i class="search icon"></i>
  </div>

  <div
    class="ui teal labeled icon bottom button"
    style="position: absolute; right: 0"
    (click)="redirectToCreateChallenge()"
  >
    Create New Challenge
    <i class="add icon"></i>
  </div>
</div>

<mat-table [dataSource]="challenges" style="margin-top: 3em">
  <ng-container matColumnDef="Name">
    <mat-header-cell *matHeaderCellDef>Name</mat-header-cell>
    <mat-cell *matCellDef="let challenge">{{ challenge.name }}</mat-cell>
  </ng-container>
  <ng-container matColumnDef="Finishes on">
    <mat-header-cell *matHeaderCellDef>Finishes on</mat-header-cell>
    <mat-cell *matCellDef="let challenge">{{
      challenge.finishesOn | date: "yyyy-MM-dd hh:mm"
    }}</mat-cell>
  </ng-container>
  <ng-container matColumnDef="Created by">
    <mat-header-cell *matHeaderCellDef>Created by</mat-header-cell>
    <mat-cell *matCellDef="let challenge">{{ challenge.createdBy }}</mat-cell>
  </ng-container>
  <ng-container matColumnDef="Leader">
    <mat-header-cell *matHeaderCellDef>Leader</mat-header-cell>
    <mat-cell *matCellDef="let challenge">{{
      challenge.leader ? challenge.leader.name : "No participants"
    }}</mat-cell>
  </ng-container>
  <ng-container matColumnDef="loadingRow">
    <mat-footer-cell *matFooterCellDef colspan="displayColumns.length()">
      Loading data...
    </mat-footer-cell>
  </ng-container>
  <ng-container matColumnDef="noData">
    <mat-footer-cell *matFooterCellDef colspan="displayColumns.length()">
      No challenges found...
    </mat-footer-cell>
  </ng-container>
  <mat-header-row *matHeaderRowDef="displayColumns"></mat-header-row>
  <mat-row *matRowDef="let row; columns: displayColumns"></mat-row>
  <mat-footer-row
    *matFooterRowDef="['loadingRow']"
    [ngClass]="{ hide: !loading }"
  ></mat-footer-row>
  <mat-footer-row
    *matFooterRowDef="['noData']"
    [ngClass]="{ hide: !(challenges != null && challenges.data.length == 0) }"
  ></mat-footer-row>
</mat-table>
<mat-paginator
  [length]="100"
  [pageIndex]="100"
  [pageSize]="pageSize"
></mat-paginator>

<!-- <table class="ui stripped table" style="margin-top: 3em">
  <thead>
    <tr>
      <th>Name</th>
      <th>Finishes on</th>
      <th>Created by</th>
      <th>Leader</th>
    </tr>
  </thead>
  <tbody>
    <tr
      *ngFor="let challenge of challenges"
      (click)="goToChallenge(challenge.id)"
    >
      <td>{{ challenge.name }}</td>
      <td>{{ challenge.finishesOn }}</td>
      <td>{{ challenge.createdBy }}</td>
      <td>
        {{ challenge.leader ? challenge.leader.name : "No participants" }}
      </td>
    </tr>
  </tbody>
</table> -->
