@import "./app/vendor/semantic.min.css";
body {
  background-color: #f4f0dc;
  background-image: radial-gradient(#fffaec 2px, transparent 2px);
  background-size: 15px 15px;
}

.ui.menu .item img.logo {
  margin-right: 1.5em;
}

form.ui.segment.form {
  background-color: #ffffff;
  margin-top: 2em;
}

.margin-top {
  margin-top: 2em;
}

form.form:after {
  content: "";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}

.center-content {
  display: flex;
  justify-content: center;
}

div.ui.main {
  margin-top: auto;
  margin-bottom: auto;
}

div.ui.main.container.segment {
  min-height: 700px;
}

.full-height {
  min-height: 700px;
}
html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.no-padding {
  padding: 0 !important;
}

.center-vertically {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
